form(action=action, method="POST")
  if (category.get('stateSchema'))
    .form-group
      label= t('task_category.state_schema')
      select.form-control(name="stateSchemaId", value = category.get('stateSchema').id)
        option(value="")= t('task_category.no_state_schema')
        each schema in category.get('stateSchema').list
          - var selected = category.get('stateSchema').id === schema['id']
          option(value=schema['id'], selected=selected)= schema['name']
  ul.nav.nav-pills.bottom-space
    each locale in app.locales
      li(class=(locale === app.locale) ? "active" : null)
        a(href="#" + locale, data-toggle="pill")= locale
  .tab-content
    each locale in app.locales
      .tab-pane(id=locale, class=(locale === app.locale) ? "active" : null)
        .form-group
          label Name
          input.form-control(name="name[" + locale + "]", value = category.get('name') ? category.get('name')[locale] : null)
        .form-group
          label Description
          textarea.form-control(name="description[" + locale + "]", rows="5")= category.get('description') ? category.get('description')[locale] : null
.status