table.table.table-striped.table-hover
    colgroup
        col
        col
        col(width="250px")
    tr
        th= t('task_category_schema_list.table_head_id')
        th= t('task_category_schema_list.table_head_name')
        th
    each schema in schemas
        tr
            td= schema.get('id')
            td= schema.get('name')
            td.text-right
                ul.list-inline
                    li
                        a.btn.btn-xs.btn-info.categories(data-id=schema.get('id'))= t('task_category_schema_list.categories_btn')
                    li
                        a.btn.btn-xs.btn-success.edit(data-id=schema.get('id'))= t('task_category_schema_list.edit_btn')
                    li
                        a.btn.btn-xs.btn-danger.delete(data-id=schema.get('id'))= t('task_category_schema_list.delete_btn')
