form#taskEditorForm
  if task.hasPermission('changeAssignee')
    .form-group
      label= t('taskEditor.project')
      input(type="hidden", name="project", value=task.get('project') ? task.get('project').id : "")
      input(data-project, type="text", value=task.get('project') ? task.get('project').name : "", class="form-control", id="txtProject")
  if (task.get('categoryList'))
    .form-group
      label #{t('taskEditor.category')}
      select(name="category", class="form-control")
        each category in task.get('categoryList')
          - var currentCategoryId = task.get('category') ? task.get('category').id : null;
          - var selected=(currentCategoryId == category.id)
          option(value=category.id, selected=selected)= category.name
  .form-group
    label #{t('taskEditor.name')}
    input(type="text", name="name", value=task.get('name'), class="form-control")
  if task.hasPermission('changeAssignee')
    .form-group
      label #{t('taskEditor.assignee')}
      input(type="hidden", name="assignee", value=task.get('assignee') ? task.get('assignee').id : "")
      input(data-assignee, type="text", value=task.get('assignee') ? task.get('assignee').name : "", class="form-control", id="txtAssignee")
  if task.hasPermission('changeOwner')
    .form-group
      label #{t('taskEditor.owner')}
      input(type="hidden", name="owner", value=task.get('owner') ? task.get('owner').id : "")
      input(data-owner, type="text", value=task.get('owner') ? task.get('owner').name : "", class="form-control", id="txtOwner")
  .form-group
    label #{t('taskEditor.description')}
    textarea(name="description", class="form-control", rows="7")= task.get('description')
  .form-group
    if (!modal)
      input.btn.btn-success.save(type="submit", value="Save")
    span.status