.block.top-space
  .title
    ul.breadcrumb
      li
        a(href="/#")= task.get('project').name
      if task.get('parentTask')
        li
          a(href="/#tasks/" + task.get('parentTask').id)= task.get('parentTask').name
      li
        a(href="/#tasks/" + task.get('id'))= t('task.task') + " #" + task.get('id')
    h3= task.get('name')
  .content
    ul.list-inline
      if task.get('category')
        li
          .label.label-info= task.get('category').name
      li
        .label.label-success= t('task.createdAt') + ": " + task.get('date')
      if task.get('state')
        li
          .label.label-primary#taskStateLabel= task.get('state').currentState.label
        li
          span#taskStateSwitcher
      li.visible-xs
        .btn-group
          button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
            span.glyphicon.glyphicon-cog
            | &nbsp
            span.caret
          ul.dropdown-menu.dropdown-menu-right
            li
              a(href="/#tasks/" + task.id + "/edit")
                = t('Edit')
            li
              a.deleteTask
                = t('Delete')
      li.hidden-xs
        a.btn.btn-default.btn-xs(href="/#tasks/" + task.id + "/edit")
          span.glyphicon.glyphicon-pencil
          | &nbsp
          = t('Edit')
        | &nbsp;
        a.btn.btn-default.btn-xs.deleteTask
          span.glyphicon.glyphicon-trash
          | &nbsp
          = t('Delete')
      li
        = t('task.owner') + ": "
        img.img-circle(src=task.get('owner').gravatar + "?s=20&d=mm")
        |&nbsp;
        a(href="/#users/" + task.get('owner').id)= task.get('owner').name
      li
        = t('task.assignee') + ": "
        img.img-circle(src=task.get('assignee').gravatar + "?s=20&d=mm")
        |&nbsp;
        a(href="/#users/" + task.get('assignee').id)= task.get('assignee').name
    != task.get('description')

if (task.get('permissions').viewAttachments === true)
  .block.top-space
    .title
      = t('task.attachments')
      a.btn-upload.btn.btn-success.btn-xs.pull-right#newAttachment
        input(type="file", id="attachmentButton")
        label(for="attachmentButton")
          span.glyphicon.glyphicon-upload
          != "&nbsp;" + t('task.newAttachment')
    .content#progress
    .content.no-border
      #attachments

.block.top-space
  .title
    = t('task.subtasks')
    a.btn.btn-success.btn-xs.pull-right#newSubtask
      span.glyphicon.glyphicon-plus
      != "&nbsp;" + t('task.newSubtask')
  .content.no-border
    if (!task.get('subTasks'))
      .block__empty.top-space.bottom-space= t('task.subtasks.empty')
    else
      table.table.table-striped.table-hover
        each subtask in task.get('subTasks')
          tr
            td
              a(href="/#tasks/" + subtask.id)= subtask.name
            if subtask.state
              td
                .label.label-primary= subtask.state.label
            td.hidden-xs
              if subtask.assignee
                a(href="/#users/" + subtask.assignee.id)
                  img.img-circle(src=subtask.assignee.gravatar + "?s=20&d=mm")
                |&nbsp;
                a(href="/#users/" + subtask.assignee.id)
                  = subtask.assignee.name
              else
                = t('task.unassigned')
            td.text-right
              .hidden-xs
                a.btn.btn-default.btn-xs.editSubTask(data-id=subtask.id)
                  span.glyphicon.glyphicon-pencil
                  |&nbsp
                  = t('Edit')
                | &nbsp;
                a.btn.btn-default.btn-xs.deleteSubTask(data-id=subtask.id)
                  span.glyphicon.glyphicon-trash
                  |&nbsp
                  = t('Delete')
              .visible-xs
                .btn-group
                  button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle="dropdown")
                    span.glyphicon.glyphicon-cog
                    |&nbsp
                    span.caret
                  ul.dropdown-menu.dropdown-menu-right
                    li
                      a.editSubTask(data-id=subtask.id)= t('Edit')
                    li
                      a.deleteSubTask(data-id=subtask.id)= t('Delete')

.block.top-space
  .title
    =t('task.comments')
    .btn-toolbar.pull-right
      a.btn.btn-success.btn-xs#newComment
        span.glyphicon.glyphicon-plus
        != "&nbsp;" + t('task.newComment')
      a.btn.btn-default.btn-xs.glyphicon(data-comment-direction=commentDirection, class=(commentDirection === "asc" ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'))
  .content
    #newCommentForm
    #comments
